# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
.test-build
*.tsbuildinfo
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

START-HERE-KO.md
.vercel
